* {
  all: unset;
  font-family: "JetBrains Mono";
}

.main {
  background: #2b2b2b;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 5px;
  color: white;
}

.workspace-entry {
  color: #ccc;
  opacity: 0.7;
}

.current {
  color: #fff;
  opacity: 1;
}

.macak {
  background-repeat: no-repeat;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 100px;
  border: 1px solid skyblue;
}
