* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font";
}

.example {
  border-radius: 0px;
  background: transparent;
  font-size: 14px;
}

.container {
  border-radius: 4px;
  background-color: rgba(254, 206, 74 / 1);
  padding: 5px 15px;
  border: 1px solid #000;
  color: black;
}

.workspace-entry {
  padding: 0 5px;
}

.current {
  color: white;
  background-color: #000;
  border-radius: 5px;
}

// .occupied {
//   color: white;
//   background-color: #000;
// }

.window-title {
  color: #000;
}

.systray {
  padding-right: 8px;
}
